<nav id="container"></nav>
    <ul id="navbar">
        <li class="nav-item"><a href="/">Home</a></li>
        <li class="nav-item"><a href="/profile">Profile</a></li>
        <li class="nav-item"><a href="/books">Books</a></li>
        <li class="nav-item"><a href="/dadjokes">Dad jokes</a></li>
        <li class="nav-item"><a href="/api">Weather</a></li>
    </ul>
