<h1>Hello User</h1>
{{!--
action = where we are sending the request
method = type of request to send
--}}

<form action="/" method="post">
<label for="username"> User Name:</label>
<input type="text" name="username">

<label for="password"> Password:</label>
<input type="password" name="password">

<input type="submit" value="login" id="btn">


</form>

